# This needs to be very strict since we do not want to accidentially commit our code

# Ignore everything (Use whitelisting)
*

# Exceptions
############

# Don't ignore the gitignore
!.gitignore

# .java files are used to store test cases
!*.java

# Bash scripts for the test script runner
!*.sh

# Documentation and license 
!.md
!LICENSE
